<div class="container border mb-5">
<div class="row p-3 align-items-center">
  <div class="col">
    <p>
    <%= recipe.name %>
    </p>
  </div>
  <div class="col">
    <p>
    <%= recipe.description %>
  </p>
  </div>
</div>
</div>