<div class="my-5 container">
<h1>All Recipes</h1>
</div>

    <% @recipes.each do |recipe| %>
     <%= link_to recipe_path(recipe.id) do%>
      <%= render partial: "recipe", locals: { recipe: } %>
    <% end %>
    <% end %>
