/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.holder {
  text-align: center;
  width: 90%;
  margin: auto;
}

.button {
  background-color: yellowgreen;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-weight: bold;
}
.sign-out {
  text-decoration: none;
  color: white;
  border: 2px solid yellowgreen;
  border-radius: 4px;
  padding: 6px 8px 6px 8px;
}

.sign-out:hover {
  color: yellowgreen;
  cursor: pointer;
}

.input-field {
  width: 90%;
  margin-bottom: 60px;
}

.recipe-name {
  text-decoration: none;
  color: yellowgreen;
}
